<p id="notice"><%= notice %></p>
<h1><%= @spotify_playlist[:name] %></h1>
<h4>Snapshot Id<%= @spotify_playlist[:snapshot_id] %></h4>

<table>
  <tr>
    <th>Song Number</th>
    <th>Song Name</th>
  </tr>
  <% @songs.each_with_index do |song, idx| %>
    <tr>
      <td><%= idx %></td>
      <td><%= song['track']['name'] %></td>
    </tr>
  <% end %>
</table>
