<p id="notice"><%= notice %></p>
<h1><%= @spotify_playlist[:name] %></h1>
<h4>Snapshot Id<%= @spotify_playlist[:snapshot_id] %></h4>

<!-- should probably just be a link_to -->
<%= link_to_if(@fz_playlist, "Get this playlist outta the zone...(delete)", { action: "delete_confirm", playlist_id: @fz_playlist.id }) %>


<table>
  <tr>
    <th>Song Number</th>
    <th>Song Name</th>
  </tr>
  <% @songs.each_with_index do |song, idx| %>
    <tr>
      <td><%= idx + 1 %></td>
      <td><%= song['track']['name'] %></td>
    </tr>
  <% end %>
</table>
