<p id="notice"><%= notice %></p>

<p>
  <strong>Spotify uri:</strong>
  <%= @song.spotify_uri %>
</p>

<p>
  <strong>Added by uri:</strong>
  <%= @song.added_by_uri %>
</p>

<p>
  <strong>Added by username:</strong>
  <%= @song.added_by_username %>
</p>

<p>
  <strong>Added by uri:</strong>
  <%= @song.added_by_uri %>
</p>

<p>
  <strong>Added on:</strong>
  <%= @song.added_on %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
